/*---------- Carousel ----------*/
.carousel-inner {
    height: 100%;
    position: relative;
    overflow: hidden;
}
.carousel-inner img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    display: block;
}
.carousel-inner::before {
    content: ""; /* i need this so that it is applied on the entirety of the carousel */
    position: absolute;
    inset: 0;
    background: linear-gradient(var(--photo-hue));
    z-index: 1;
    pointer-events: none;
}

/*---------- Who are we? ------------*/
#who-are-we {
    padding: 5% 10%;
    background-color: var(--bg-color-2);
}
#who-are-we h1 {
    color: var(--text-color);
    margin-bottom: 20px;
}
#who-are-we h1:first-child {
    text-decoration: underline;
}
#who-are-we p {
    color: var(--text-color);
    line-height: 1.9;
    padding: 0 5%;
    margin-inline: auto;
    text-align: justify;
}
#who-are-we p:last-of-type {
    margin-bottom: 8vh;
}

/*------------ Event type cards ------------*/
#event-types h1 {
    text-align: center;
    font-weight: 600;
}
.event-card {
    background-color: var(--bg-color-3);
    color: var(--text-color);
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 0 8px var(--shadow-2);
    height: 100%;
    transition: transform 0.2s ease;
}
.event-card:hover {
    transform: translateY(-4px);
}
.event-card p {
    text-align: justify;
    text-indent: 1.5rem;
}
@media (min-width: 768px) and (max-width: 1099px) {
    .col-custom-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 1100px) {
    .col-custom-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}

/*--------- Members ---------*/
#members {
    text-align: center;
    padding: 5rem 0;
}
#members h1 {
  font-family: 'Logo-Font' Arial, Helvetica, sans-serif;
}
#members .col p {
    margin: 5px;
}
#members img {
    margin-top: 20px;
    border-radius: 50%;
    max-width: 200px;
    height: auto;
    transition: transform 0.2s ease;
}
#members img:hover {
  transform: scale(1.05);
}
#members .name, #members .role {
  font-family: 'Logo-Font', Arial, Helvetica, sans-serif;
  text-align: center;
}
#members .name {
  font-size: clamp(20px, 3.5vh, 24px);
}
#members .role {
  font-size: clamp(15px, 3vh, 20px)
}
.member-card {
    border: 2px solid var(--logo-text);
    padding: 4%;
    border-radius: 15px;
    text-align: justify;
    background-color: var(--bg-color-2);
    transition: transform 0.2s ease;
}