.carousel-inner {
    height: 100vh;
    position: relative; /*putting this for the ::before layer*/
}

.carousel-inner::before {
    content: ""; /* i need this so that it is applied on the entirety of the carousel */
    position: absolute;
    top:0;
    left: 0;
    width: 100%; 
    height: 100%;
    background: linear-gradient(var(--photo-hue));
    z-index: 1;
    pointer-events: none;
}

.carousel-overlay-text {
  position: absolute;
  text-align: left;
  top: 70%;
  left: 10%;
  font-weight: bold;
  color: var(--logo-text);
  z-index: 2;
  text-shadow: 0 0 10px var(--shadow),
        0 0 10px var(--shadow),
        0 0 10px var(--shadow),
        0 0 10px var(--shadow);
}

.carousel-overlay-text p:first-child {
    font-size: 7vh;
}

.carousel-overlay-text p:last-child {
    font-size: 3vh;
}