/* ----------------- Title Section ----------------- */
/* the title text is in the styles.css file */
.carousel-inner {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.carousel-inner::before {
    content: ""; /* i need this so that it is applied on the entirety of the carousel */
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--photo-hue));
    z-index: 1;
    pointer-events: none;
}

/* ----------------- Who are we section ----------------- */
#who-are-we {
    padding: 5% 10%;
    background-color: var(--bg-color-2);
}

#who-are-we h2, #who-are-we p {
    color: var(--text-color);
    line-height: 2;
}

#who-are-we h2:first-child {
    font-weight: bold;
    text-decoration: underline;
}

#who-are-we p:last-of-type {
    margin-bottom: 10vh;
}


/* ----------------- Events Section ----------------- */

#event-types h3 {
  text-align: center;
}

#event-types p {
  text-align: justify;
  text-indent: 10%;
}

.event-card {
  background-color: var(--bg-color-3);
  color: var(--text-color);
  border-radius: 20px;
  padding: 5% 8% 0 8%;
  box-shadow: 0 0 5px 0 var(--shadow-2);
  height: 100%;
}

.event-card p:first-of-type {
    margin-top: 5%;
}

@media (max-width: 767.98px) {
  #event-types .col-custom-4 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

@media (min-width: 768px) and (max-width: 1099.98px) {
  #event-types .col-custom-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1000px) {
  .col-custom-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}


/* ----------------- Members Section ----------------- */

#members {
    text-align: center;
}

#members h1 {
    margin-top: 10vh;
    color: var(--text-color);
}

#members img {
    margin-top: 10%;
}

#members h5 {
    font-family: 'Logo-Font';
    color: var(--text-color);
}

#members .member-card {
    border: 2px solid var(--logo-text);
    padding: 5%;
    border-radius: 15px;
    margin-top: 10%;
}

#members button {
    color: var(--logo-text);
    text-decoration: none;
    margin-top: 0;
}

#become-member {
    text-align: center;
    margin-top: 5vh;
}

#become-member button {
    background-color: var(--button);
    color: var(--text-color);
    padding: 1.5%;
    border-radius: 20px;
    outline: none;
    border: none;
    transition: transform 0.2s ease;
}

#become-member button:hover {
    background-color: var(--button-hover);
    transform: scale(1.05);
}