/* Font imports */
@font-face {
    font-family: 'Logo-Font';
    src: url(./PermanentMarker-Regular.ttf);
}

/* Color scheme */

:root {
    --text-color: #1a1a1a;
    --subtext-color: rgb(85, 85, 85);
    --hover-text: #aba7ae;
    --logo-text: #221546;
    --photo-hue: rgba(170,170,170,0.4);
    --button: rgba(255,255,255,0.7);
    --button-hover: rgba(255,255,255,0.8);
    --bg-color: rgba(158, 181, 206, 0.8);
    --shadow: rgba(255, 255, 255, 0.9);
}

.darkmode {
    --text-color: rgb(198, 198, 198);
    --subtext-color: rgb(115, 115, 115);
    --hover-text: rgba(70,70,70);
    --logo-text: rgb(210, 210, 210);
    --photo-hue: rgba(4,9,30,0.5);
    --button: rgba(69, 69, 69, 0.8);
    --button-hover: rgba(0,0,0,0.8);
    --bg-color: rgba(10,3,37,0.9);
    --shadow: rgba(0,0,0,0.9);
}