/* ------------------ Intro ------------------ */

.page-title {
    background-image: linear-gradient(var(--photo-hue)),url(../Images/contact-image.png);
    aspect-ratio: 600 / 300;
}

/* ------------------ Main Section ------------------ */

.contact-page {
    background-color: var(--bg-color-2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15vw;
    padding-right: 10vw;
}

#contact-us {
    flex: 1;
    text-align: left;
}

#contact-us h1 {
    margin-bottom: 15px;
}

#contact-us p {
    margin-bottom: 30px;
}

#contact-us h4 {
    margin-top: 15px;
}

.contact-links a {
    color: var(--text-color);
}

#let-us-know {
    background-color: var(--bg-color-3);
    color: var(--text-color);
    border-radius: 10px;
    padding: 3%;
    margin: 5vw;
    width: 40vw;
}

#contact-us-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#let-us-know input, #let-us-know textarea {
    padding: 2%;
    border-radius: 10px;
    width: 100%;
    border: none;
    background-color: rgb(230,230,230);
    outline: none;
}

 #let-us-know input:focus, #let-us-know textarea:focus {
    outline: none;
    border: none;
    background-color: white;
}

#let-us-know .contact-btn {
    border-radius: 10px;
    padding: 2%;
    width: clamp(180px, 6vw, 6vw);
    outline: none;
    border: none;
    transition: transform 0.2s ease;
}

#let-us-know .contact-btn {
    background-color: rgba(230,230,230,0.8);
}

#let-us-know .contact-btn:hover {
    transform: scale(1.05);
}

#let-us-know .contact-btn:hover {
    background-color: white;
}

@media (max-width:1200px) {
    .contact-page {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    #contact-us {
        padding-top: 5%;
    }
}

/* ------------------ Map Integration ------------------ */

#map-section {
    margin-top: 15px;
}

#map-section iframe {
    width: clamp(400px, 30vw,30vw);
    height: clamp(200px, 40vh, 40vh);
    border: 2px solid var(--bg-color-3);
}