/* ------------------ Intro ------------------ */
.page-title {
    background-image: linear-gradient(var(--photo-hue)), url(../Images/contact-image.png);
    aspect-ratio: 600 / 300;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
}

/* ------------------ Main Section ------------------ */
.container {
    background-color: var(--bg-color-2);
    padding: 3% 5%;
}

#contact-us h2 {
    margin: 15px 0;
}

#contact-us p {
    margin-bottom: 30px;
}

.contact-links a, #contact-us a {
    color: var(--text-color);
}

#let-us-know {
    background-color: var(--bg-color-3);
    color: var(--text-color);
    border-radius: 10px;
    padding: 3%;
}

#contact-us-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#let-us-know input, #let-us-know textarea {
    padding: 2%;
    border-radius: 10px;
    width: 100%;
    border: none;
    background-color: rgb(230,230,230);
    outline: none;
    transition: background-color 0.2s ease;
}

#let-us-know input:focus, #let-us-know textarea:focus {
    background-color: white;
}

#let-us-know .contact-btn {
    border-radius: 10px;
    padding: 2%;
    width: clamp(180px, 6vw, 6vw);
    border: none;
    outline: none;
    background-color: rgba(230,230,230,0.8);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

#let-us-know .contact-btn:hover {
    transform: scale(1.05);
    background-color: white;
}

/* ------------------ Map Integration ------------------ */
#map-section {
    margin-top: 15px;
}

#map-section iframe {
    width: 100%;
    max-width: 600px;
    height: auto;
    aspect-ratio: 16 / 9;
    border: 2px solid var(--bg-color-3);
}


@media (max-width: 992px) {
    #let-us-know {
        margin-top: 30px;
    }
}