/* ------------------ Intro ------------------ */

.contact-intro {
    background-image: linear-gradient(var(--photo-hue)),url(../Images/contact-image.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.contact-prompt {
    position: absolute;
    top: 65%;
    left: 5%;
    transform: tranlateY(-50%);
    text-align: left;
    max-width: 90%;
}

.contact-prompt p {
    color: var(--logo-text);
    text-shadow: 0 0 10px var(--shadow),
        0 0 10px var(--shadow),
        0 0 10px var(--shadow),
        0 0 10px var(--shadow);
    margin: 0.25em 0;
}

.contact-prompt p:first-child {
    font-size: clamp(40px,3vw,1.5vw);
    font-weight: bold;
    
}

.contact-prompt p:last-child {
    font-size: clamp(20px,1.5vw,1.5vw);
}

/* ------------------ Main Section ------------------ */

.contact-page {
    background-color: var(--bg-color-2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15vw;
    padding-right: 10vw;
}

#contact-us {
    flex: 1;
    text-align: left;
}

#contact-us p, #contact-us h1 {
    margin-bottom: 30px;
}

#contact-us h4 {
    margin-bottom: 15px;
}

#let-us-know {
    background-color: var(--bg-color-3);
    color: var(--text-color);
    border-radius: 10px;
    padding: 3%;
    margin: 5vw;
    width: clamp(420px, 40vw, 40vw);
}

#contact-us-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#let-us-know input, #let-us-know textarea {
    padding: 2%;
    border-radius: 10px;
    width: 100%;
    border: none;
    background-color: rgb(230,230,230);
    outline: none;
}

 #let-us-know input:focus, #let-us-know textarea:focus {
    outline: none;
    border: none;
    background-color: white;
}

#let-us-know .contact-btn {
    border-radius: 10px;
    padding: 2%;
    width: clamp(180px, 6vw, 6vw);
    background-color: rgba(230,230,230,0.8);
    outline: none;
    border: none;
    transition: transform 0.3s ease;
}

#let-us-know .contact-btn:hover {
    background-color: white;
    transform: scale(1.05);
}

@media (max-width:1000px) {
    .contact-page {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    #contact-us {
        padding-top: 5%;
    }
}