body {
    background-color: var(--bg-color-2);
}

/* ----------------- Page Title section ----------------- */
.page-title {
    background-image: linear-gradient(var(--photo-hue)), url(../Images/event-title.jpeg);
    aspect-ratio: 600 / 300;
}

/* -------------- Jump to section ---------------*/
.jump-to {
    padding: 2% 0 0 2%;
}

.jump-to p, .jump-to a {
    color: var(--text-color);
}

.jump-to a {
    text-decoration: none;
}

.jump-to a:hover {
    color: var(--hover-text);
}

/* ----------------- Gallery Section ----------------- */

#img-gallery {
    width: 80%;
    margin: 100px auto 50px;
}

#img-gallery h2, #img-gallery h3 {
    text-align: center;
    color: var(--text-color);
}

#img-gallery h2 {
    font-family: 'Logo-Font', Arial, Helvetica, sans-serif;
}

#import-photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    justify-items: stretch;
    max-height: 80vh;
    overflow-y: auto;
}

#import-photos img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 10%;
    transition: transform 0.3s ease;
}

#import-photos img:hover {
    transform: scale(0.95) rotate(-10deg);
}

.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.full-img img {
    height: 90vh;
    border-radius: 20px;
    border-radius: 20px;
    transition: transform 0.2s ease;
    transform-origin: center center;
}

.full-img .bi-x {
    position: absolute;
    top: 2%;
    right: 2%;
    color: white;
    cursor: pointer;
}

.bi-chevron-right, .bi-chevron-left {
    display: flex;
    position: absolute;
    top: 50%;
    color: white;
    cursor: pointer;
}

.bi-chevron-left {
    left: 2%;
}

.bi-chevron-right {
    right: 2%;
}

/* --------- Youtube videos --------- */
#youtube {
    display: inline-flex;
    color: var(--text-color);
    font-family: 'Logo-Font', Arial, Helvetica, sans-serif;
}
@media (max-width: 550px) {
    #video-gallery .ratio {
        max-height: 200px;
    }
}

/* --------- Upcoming Events --------- */
.upc-ev {
    font-family: 'Logo-Font', Arial, Helvetica, sans-serif;
    color: var(--logo-text);
}
.event-card {
    background: var(--bg-color);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 3%;
    transition: all 0.3s ease;
}

.event-card:not(:first-child) {
    margin-top: 2vh;
}

.event-description {
    display: none;
    margin-top: 20px;
    max-height: 200px;
    overflow-y: auto;
    border-top: 1px solid var(--logo-text);
    padding-top: 1%;
}

.event-description p {
    margin-bottom: 1%;
}

#addEvent, #loadMorePhotos {
    background-color: var(--button);
    color: var(--text-color);
    border-radius: 20px;
    padding: 1.5%;
    border: none;
    transition: transform 0.2s ease;
}

#addEvent:hover, #loadMorePhotos:hover {
    transform: scale(1.05);
    background-color: var(--button-hover);
}

#cardButtons button {
    background-color: var(--bg-color-2);
}

.eventsContainer, .learn-more-btn, .google-calendar-btn , .delete-btn, #loadMorePhotos {
    color: var(--text-color);
}