/* -------------------- Welcome Section -------------------- */
.welcome-section {
    background-image: linear-gradient(var(--photo-hue)), url(../Images/ntua.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.welcome-content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--logo-text);
}

.welcome-content h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    text-shadow: 0 0 20px var(--shadow);
}

.welcome-content p {
    text-shadow: 0 0 20px var(--shadow);
    font-weight: 600;
    margin-top: 20px;
    line-height: 2;
}

.welcome-content button {
    margin-top: 50px;
    border-radius: 50px;
    padding: 3%;
    border: none;
    background-color: var(--button);
    color: var(--text-color);
    font-size: 1rem;
    transition: transform 0.2s ease;
}

.welcome-content button:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: var(--button-hover);
}

/* -------------------- Tech Quote Section -------------------- */
#tech-quote {
    background-color: var(--bg-color);
    text-align: center;
    font-family: 'Logo-Font';
    color: var(--text-color);
    padding: 2% 20%;
}

#quote { 
    margin-top: 0; 
    font-size: 1.2rem; 
}
#author { 
    font-size: 1rem; 
}

/*-------------------- Call to action ------------------------- */
.calltoaction {
    background-color: var(--bg-color-2);
    text-align: center;
    padding: 2%;
}
.redirectButtons {
    padding-top: 2%;
}
.redirectButtons p {
    margin-top: 20px;
    font-weight: 500;
}
.redirectButtons button {
    background-color: var(--button);
    border: 1px solid var(--text-color);
    padding: 10px 20px;
    border-radius: 20px;
    transition: transform 0.2s ease;
}
.redirectButtons button:hover {
    background-color: var(--button-hover);
    transform: scale(1.05);
}