@import url(./colorscheme.css);

/* Welcome section*/ 

.welcome-section {
    background-image: linear-gradient(var(--photo-hue)),url(../Images/ntua.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.welcome-content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--logo-text);
}

.welcome-content h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    text-shadow:
        0 0 5px rgba(255, 255, 255, 0.9),
        0 0 10px rgba(255, 255, 255, 0.9),
        0 0 20px rgba(255, 255, 255, 0.9),
        0 0 40px rgba(255, 255, 255, 0.9);
}

.welcome-content p {
    text-shadow:
        0 0 20px rgba(255, 255, 255, 1),
        0 0 20px rgba(255, 255, 255, 1),
        0 0 20px rgba(255, 255, 255, 1),
        0 0 20px rgba(255, 255, 255, 1);
    font-weight: 600;
    margin-top: 20px;
    line-height: 2;
}

.welcome-content button {
    margin-top: 50px;
    border-radius: 50px;
    padding: 3%;
    border-color: var(--button);
    background-color: rgba(255,255,255,0.7);
    color: var(--logo-text);
    font-size: 1rem;
    transition: transform 0.2s ease;
}

.welcome-content button:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgba(255,255,255,0.8);
}