/* Font imports */
@font-face {
    font-family: 'Logo-Font';
    src: url(./PermanentMarker-Regular.ttf);
}

/* Color scheme */

:root {
    --text-color: #1a1a1a;
    --subtext-color: rgb(85, 85, 85);
    --hover-text: #aba7ae;
    --logo-text: #221546;
    --photo-hue: rgba(170,170,170,0.4);
    --button: rgba(255,255,255,0.7);
    --button-hover: rgba(255,255,255,0.8);
    --bg-color: rgba(158, 181, 206, 0.8);
    --shadow: rgba(255, 255, 255, 0.9);
}

.darkmode {
    --text-color: rgb(198, 198, 198);
    --subtext-color: rgb(115, 115, 115);
    --hover-text: rgba(70,70,70);
    --logo-text: rgb(210, 210, 210);
    --photo-hue: rgba(4,9,30,0.5);
    --button: rgba(69, 69, 69, 0.8);
    --button-hover: rgba(0,0,0,0.8);
    --bg-color: rgba(10,3,37,0.9);
    --shadow: rgba(0,0,0,0.9);
}

/* -------------------- General -------------------- */

* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

a {
	text-decoration: none !important;
}

a:hover {
    cursor: pointer !important;
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
}


/* -------------------- Header -------------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
    background: var(--bg-color);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 1000;
}

header img {
    width: 7%;
    height: auto;
    min-width: 4rem;
}

header a {
    color: var(--logo-text);
	margin-right: 50px;
    font-weight: bold;
    align-items: center;
    height: 100%;
}

#logo a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header a:hover {
	color: var(--hover-text);
	transition: all 0.3s ease 0;
}

header i {
    fill: var(--logo-text);
}

.logo-name {
    font-family: 'Logo-Font' !important;
    color: var(--logo-text);
    font-size: 2rem;
}

#navigation {
    display: flex;
    gap: 2rem;
}


/* -------------------- Toggle menu collapse media -------------------- */

.links-container {
    height: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-top: 0;
}

#check {
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    display: none;
    color: var(--logo-text);
}

@media (max-width: 545px) {
    .logo-name {
        display: none;
    }
}

@media (max-width: 1100px) {
    .links-container {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 30%;
        background-color: var(--bg-color);
        box-shadow: -5px 0 5px rgba(0,0,0,0.25);
        transition: 0.5s ease-out;
    }

    .links-container a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 5% 10%;
        justify-content: flex-start;
    }

    .open-sidebar-button, .close-sidebar-button {
        right: 0;
        display: block;
        font-size: 2.5rem;
    }

    .close-sidebar-button {
        padding: 5% 6%;
    }

    #check:checked ~.links-container {
        right: 0;
    }

    #logo {
        margin-left: auto;
    }
}


/* -------------------- Dark-mode implementation -------------------- */

#theme-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--button);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    padding: 0;
    box-sizing: border-box;
    flex-shrink: 0;
}

#theme-switch i {
    color: var(--logo-text);
    position: absolute;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1;
    font-size: 1.25rem;
}

#theme-switch i:last-child {
    opacity: 0;
}

.darkmode #theme-switch i:first-child {
    opacity: 1;
}

/* Icon Animation on change */
.darkmode #theme-switch i:first-child {
    opacity: 0;
    transform: rotate(-180deg);
}

.darkmode #theme-switch i:last-child {
    opacity: 1;
    transform: rotate(180deg);
}


/* -------------------- Footer styles -------------------- */

.col h3, .col h4 {
    font-family: 'Logo-Font' !important;
    color: var(--logo-text);
}

.col-6 .sub-motto {
    color: var(--subtext-color);
}

.list-unstyled a {
    color: var(--text-color);
}

.icon-links{
    color: var(--logo-text);
    text-decoration: none;
}

footer {
    background-color: var(--bg-color);
}

.copyright {
    color: var(--subtext-color);
}

hr {
    color: var(--subtext-color) !important;
}