@import url(./colorscheme.css);

@font-face {
    font-family: 'Logo-Font';
    src: url(./PermanentMarker-Regular.ttf);
}

/* General */

* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

a {
	text-decoration: none !important;
}

a:hover {
    cursor: pointer !important;
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
    background: var(--bg-color);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 3%;
}

header img {
    width: 7%;
    height: auto;
    min-width: 4rem;
}

.logo-name {
    font-family: 'Logo-Font' !important;
    color: var(--logo-text);
    font-size: 2rem;
}

.site-nav {
    display: flex;
}

.site-nav a {
	color: var(--logo-text);
	margin-right: 50px;
    font-weight: bold;
}

.site-nav a:hover {
	color: var(--hover-text);
	transition: all 0.3s ease 0;
}

.site-nav a:visited {
	color: none;
	text-decoration: none;
}

/* Footer styles */
.col-6 h3, h4 {
    font-family: 'Logo-Font' !important;
}

.col-6 .sub-motto {
    color: var(--subtext-color);
}

.list-unstyled a {
    color: var(--logo-text);
}

.icon-links{
    color: black;
    text-decoration: none;
}

footer {
    background-color: var(--bg-color);
}

.copyright {
    color: var(--subtext-color);
}