/* Font imports */
@font-face {
    font-family: 'Logo-Font';
    src: url(./PermanentMarker-Regular.ttf);
}

/* Color scheme */

:root {
    --text-color: #1a1a1a;
    --subtext-color: rgb(85, 85, 85);
    --hover-text: #aba7ae;
    --logo-text: #221546;
    --photo-hue: rgba(170,170,170,0.3);
    --button: rgba(255,255,255,0.7);
    --button-hover: rgba(255,255,255,0.8);
    --bg-color: rgba(141, 168, 197, 0.8);
    --bg-color-2: rgba(209, 226, 237, 0.8);
    --bg-color-3: rgba(121, 121, 121, 0.5);
    --shadow: rgba(255, 255, 255, 0.9);
    --shadow-2: rgb(37, 35, 73);

    --high: #c83c35;
    --medium: #fb7d17;
    --low: #13a11f;

    --bar: #221546;
    --bar2: rgb(130, 130, 130);
}

.darkmode {
    --text-color: rgb(240,240,240);
    --subtext-color: rgb(115, 115, 115);
    --hover-text: rgba(70,70,70);
    --logo-text: rgb(210, 210, 210);
    --photo-hue: rgba(4,9,30,0.5);
    --button: rgba(69, 69, 69, 0.8);
    --button-hover: rgba(0,0,0,0.8);
    --bg-color: rgba(10,3,37,0.9);
    --bg-color-2: rgb(103, 100, 118);
    --bg-color-3: rgba(4,9,30,0.5);
    --shadow: rgba(0,0,0,0.9);
    --shadow-2: rgba(255,255,255,0.9);

    --high: #FA362D;
    --medium: #FAA764;
    --low: #77F782;

    --bar: rgb(197, 197, 197);
    --bar2: rgb(80,80,80);
}

/* -------------------- General -------------------- */

* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

a {
	text-decoration: none !important;
}

a:hover, .category {
    cursor: pointer !important;
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
}


/* -------------------- Header -------------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
    background: var(--bg-color);
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    box-shadow: 0 0 10px black;
    z-index: 1000;
}

header img {
    width: 7%;
    height: auto;
    min-width: 4rem;
}

header a {
    color: var(--logo-text);
	margin-right: 4vw;
    font-weight: bold;
    align-items: center;
    height: 100%;
}

#logo a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header a:hover {
	color: var(--hover-text);
	transition: all 0.3s ease 0;
}

header i {
    fill: var(--logo-text);
}

.logo-name {
    font-family: 'Logo-Font' !important;
    color: var(--logo-text);
    font-size: 5vh;
}

#navigation {
    display: flex;
    gap: 2rem;
}

#navigation a {
    margin-top: 15px;
}


/* -------------------- Toggle menu collapse media -------------------- */

.links-container {
    height: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-top: 0;
}

#check {
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    display: none;
    color: var(--logo-text);
}

@media (max-width: 545px) {
    .logo-name {
        display: none;
    }
}

@media (max-width: 1100px) {
    .links-container {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 30%;
        background-color: var(--bg-color);
        box-shadow: -5px 0 5px rgba(0,0,0,0.25);
        transition: 0.5s ease-out;
    }

    .links-container a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 5% 10%;
        justify-content: flex-start;
    }

    .open-sidebar-button, .close-sidebar-button {
        right: 0;
        display: block;
        font-size: 2.5rem;
    }

    .close-sidebar-button {
        padding: 5% 6%;
    }

    #check:checked ~.links-container {
        right: 0;
    }

    #logo {
        margin-left: auto;
    }
}


/* -------------------- Dark-mode implementation -------------------- */

#theme-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--button);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    padding: 0;
    box-sizing: border-box;
    flex-shrink: 0;
}

#theme-switch i {
    color: var(--logo-text);
    position: absolute;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1;
    font-size: 1.25rem;
}

#theme-switch i:last-child {
    opacity: 0;
}

.darkmode #theme-switch i:first-child {
    opacity: 1;
}

/* Icon Animation on change */
.darkmode #theme-switch i:first-child {
    opacity: 0;
    transform: rotate(-180deg);
}

.darkmode #theme-switch i:last-child {
    opacity: 1;
    transform: rotate(180deg);
}


/* -------------------- Footer styles -------------------- */

.col h3, .col h4 {
    font-family: 'Logo-Font' !important;
    color: var(--logo-text);
}

.col-6 .sub-motto {
    color: var(--subtext-color);
}

.list-unstyled a {
    color: var(--text-color);
    line-height: 1.8;
}

.icon-links{
    color: var(--logo-text);
    text-decoration: none;
}

footer {
    background-color: var(--bg-color);
}

.copyright {
    color: var(--subtext-color);
}

hr {
    color: var(--subtext-color) !important;
}



/* -------------------- Scroll to top button -------------------- */

#scrolltotop {
    background-color: var(--bg-color-2);
    padding: 2%;
}

.scroll-top {
    right: 2.5%;
    bottom: 5%;
    color: var(--button-hover);
    text-shadow: 0 0 10px var(--shadow-2),
        0 0 10px var(--shadow-2),
        0 0 10px var(--shadow-2),
        0 0 10px var(--shadow-2);
    animation-name: appear;
    animation-timeline: scroll(y);
}

@keyframes appear {
    0% {
        opacity: 0;
        display: none;
        position: fixed;
    }

    3% {
        opacity: 0;
        display: block;
    }

    3.5% {
        opacity: 1;
        display: block;
    }

    100% {
        opacity: 1;
        display: block;
        position: fixed;
    }
}

/* ----------------- Titles on pages -----------------*/
.page-title {
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 100vh;
}

.page-title-content, .carousel-overlay-text {
    position: absolute;
    top: 70%;
    left: 7%;
    text-align: left;
    color: var(--logo-text);
    z-index: 2;
    text-shadow: 0 0 15px var(--shadow),
        0 0 10px var(--shadow),
        0 0 10px var(--shadow),
        0 0 10px var(--shadow);
}

.page-title-content h1, .carousel-overlay-text h1 {
    font-size: 7vh;
    font-weight: bold;
    text-shadow:
        0 0 5px var(--shadow),
        0 0 10px var(--shadow),
        0 0 20px var(--shadow),
        0 0 40px var(--shadow);
}

.page-title-content p, .carousel-overlay-text p {
    font-size: 4vh;
    text-shadow: 0 0 5px var(--shadow),
        0 0 5px var(--shadow),
        0 0 5px var(--shadow),
        0 0 5px var(--shadow); 
}

@media (max-width: 850px) {
    .carousel-overlay-text p, .page-title-content p {
        font-size: 3vw;
    }

    .carousel-overlay-text h1, .page-title-content h1 {
        font-size: 5vw;
    }
}