@import url(./colorscheme.css);

@font-face {
    font-family: 'Logo-Font';
    src: url(./PermanentMarker-Regular.ttf);
}

/* ------------------- General -------------------- */

* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

a {
	text-decoration: none !important;
}

a:hover {
    cursor: pointer !important;
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
}


/* -------------------- Header -------------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
    background: var(--bg-color);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 1000;
}

header img {
    width: 7%;
    height: auto;
    min-width: 4rem;
}

header a {
    color: var(--logo-text);
	margin-right: 50px;
    font-weight: bold;
    align-items: center;
    height: 100%;
}

#logo a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header a:hover {
	color: var(--hover-text);
	transition: all 0.3s ease 0;
}

header i {
    fill: var(--logo-text);
}

.logo-name {
    font-family: 'Logo-Font' !important;
    color: var(--logo-text);
    font-size: 2rem;
}

#navigation {
    display: flex;
    gap: 2rem;
}


/* -------------------- Toggle menu collapse media -------------------- */

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#check {
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    display: none;
    color: var(--logo-text);
}

@media (max-width: 500px) {
    .logo-name {
        display: none;
    }
}

@media (max-width: 1100px) {
    .links-container {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 30%;
        background-color: var(--bg-color);
        box-shadow: -5px 0 5px rgba(0,0,0,0.25);
        transition: 0.5s ease-out;
    }

    .links-container a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 5% 10%;
        justify-content: flex-start;
    }

    .open-sidebar-button, .close-sidebar-button {
        right: 0;
        display: block;
    }

    .close-sidebar-button {
        padding: 5% 6%;
    }

    #check:checked ~.links-container {
        right: 0;
    }

    #logo {
        margin-left: auto;
    }
}


/* -------------------- Footer styles -------------------- */

.col h3, .col h4 {
    font-family: 'Logo-Font' !important;
    color: var(--logo-text);
}

.col-6 .sub-motto {
    color: var(--subtext-color);
}

.list-unstyled a {
    color: var(--text-color);
}

.icon-links{
    color: var(--logo-text);
    text-decoration: none;
}

footer {
    background-color: var(--bg-color);
}

.copyright {
    color: var(--subtext-color);
}


/* -------------------- Dark-mode implementation -------------------- */

#theme-switch {
    display: flex;
    border: none;
    background-color: var(--button);
    border-radius: 50%;
    padding: 0;
    height: 3rem;
    width: 3rem;
    justify-content: center;
    align-items: center;
}

#theme-switch i {
    color: var(--logo-text);
    position: absolute;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1;
}

#theme-switch i:last-child {
    opacity: 0;
}

.darkmode #theme-switch i:first-child {
    opacity: 1;
}

/* Icon Animation on change */
.darkmode #theme-switch i:first-child {
    opacity: 0;
    transform: rotate(-180deg);
}

.darkmode #theme-switch i:last-child {
    opacity: 1;
    transform: rotate(180deg);
}