/* General */

* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

a {
	text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(100px);
    position: fixed;
}

nav {
    display: flex;
    padding-left: 5%;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 7%;
    min-width: 4rem;
    max-width: 170rem;
}

.navbar a {
	color: white;
	margin-right: 50px;
}

.navbar a:hover {
	color: grey;
	cursor: pointer;
	transition: all 0.3s ease 0;
}

.navbar a:visited {
	color: none;
	text-decoration: none;
}