/* -------------------- Font Imports -------------------- */
@font-face {
    font-family: 'Logo-Font';
    src: url(./PermanentMarker-Regular.ttf);
    font-display: swap;
}

/* -------------------- Color Variables -------------------- */
:root {
    --text-color: #1a1a1a;
    --subtext-color: rgb(85, 85, 85);
    --hover-text: #aba7ae;
    --logo-text: #221546;
    --photo-hue: rgba(170,170,170,0.3);
    --button: rgba(255,255,255,0.7);
    --button-hover: rgba(255,255,255,0.8);
    --bg-color: rgba(141, 168, 197, 0.8);
    --bg-color-2: rgba(209, 226, 237, 0.8);
    --bg-color-3: rgba(121, 121, 121, 0.5);
    --shadow: rgba(255, 255, 255, 0.9);
    --shadow-2: rgb(37, 35, 73);
    --high: #c83c35;
    --medium: #fb7d17;
    --low: #13a11f;
    --bar: #221546;
    --bar2: rgb(130, 130, 130);
}

.darkmode {
    --text-color: rgb(240,240,240);
    --subtext-color: rgb(115, 115, 115);
    --hover-text: rgba(70,70,70);
    --logo-text: rgb(210, 210, 210);
    --photo-hue: rgba(4,9,30,0.5);
    --button: rgba(69, 69, 69, 0.8);
    --button-hover: rgba(0,0,0,0.8);
    --bg-color: rgba(10,3,37,0.9);
    --bg-color-2: rgb(103, 100, 118);
    --bg-color-3: rgba(4,9,30,0.5);
    --shadow: rgba(0,0,0,0.9);
    --shadow-2: rgba(255,255,255,0.9);
    --high: #FA362D;
    --medium: #FAA764;
    --low: #77F782;
    --bar: rgb(197, 197, 197);
    --bar2: rgb(80,80,80);
}

/* -------------------- Global Styles -------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    min-height: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none !important;
}
a:hover, .category {
    cursor: pointer !important;
}

/* -------------------- Header -------------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
    background: var(--bg-color);
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px black;
    z-index: 1000;
    position: fixed;
}
header img {
    width: 7%;
    height: auto;
    min-width: 4rem;
}
header a {
    color: var(--logo-text);
    margin-right: 4vw;
    font-weight: bold;
    align-items: center;
}
#logo a {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo-name {
    font-family: 'Logo-Font';
    color: var(--logo-text);
    font-size: 5vh;
}
header a:hover {
    color: var(--hover-text);
    transition: all 0.3s ease;
}
#navigation {
    display: flex;
    gap: 2rem;
    align-items: center;
}

/* -------------------- Sidebar Toggle -------------------- */
.links-container {
    display: inline-flex;
    align-items: left;
    height: 100%;
    width: 100%;
    position: relative;
}
#check { 
    display: none; 
}
.open-sidebar-button, .close-sidebar-button {
    display: none;
    color: var(--logo-text);
}
@media (max-width: 1100px) {
    .links-container {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 30%;
        background-color: var(--bg-color);
        box-shadow: -5px 0 5px rgba(0,0,0,0.25);
        transition: 0.5s ease-out;
        padding-top: 5%;
    }
    .links-container a {
        width: 100%;
        padding: 10%;
        margin-left: 20px;
        justify-content: flex-start;
    }
    #check:checked ~ .links-container { 
        right: 0;
    }
    .open-sidebar-button, .close-sidebar-button {
        display: block;
        font-size: 2.5rem;
        margin-left: 20px; 
    }
}
@media (max-width: 550px) { 
    .logo-name { 
        display: none; 
    } 
}

/* -------------------- Theme Switch -------------------- */
#theme-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--button);
    border-radius: 50%;
    width: 60px;
    aspect-ratio: 1/1;
    position: relative;
    cursor: pointer;
}
#theme-switch i {
    color: var(--logo-text);
    position: absolute;
    font-size: 1.25rem;
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
#theme-switch i:last-child {
    opacity: 0;
}
.darkmode #theme-switch i:first-child {
    opacity: 0;
    transform: rotate(-180deg);
}
.darkmode #theme-switch i:last-child {
    opacity: 1;
    transform: rotate(180deg);
}


/* -------------------- Footer -------------------- */
footer {
    background-color: var(--bg-color);
}
footer h1 { 
    font-family: 'Logo-Font'; 
    color: var(--logo-text); 
}
footer .sub-motto { 
    color: var(--subtext-color); 
}
footer .list-unstyled a { 
    color: var(--text-color); 
    line-height: 1.8; 
}
footer .icon-links { 
    color: var(--logo-text); 
    text-decoration: none; 
}
footer .copyright { 
    color: var(--subtext-color); 
}

/* -------------------- Scroll to top -------------------- */
#scrolltotop {
    background-color: var(--bg-color-2);
    padding: 2%;
}
.scroll-top {
    right: 2.5%;
    bottom: 5%;
    color: var(--button-hover);
    text-shadow: 0 0 10px var(--shadow-2),
        0 0 10px var(--shadow-2),
        0 0 10px var(--shadow-2),
        0 0 10px var(--shadow-2);
    animation-name: appear;
    animation-timeline: scroll(y);
}
@keyframes appear {
    0% {
        opacity: 0;
        display: none;
        position: fixed;
    }
    3% {
        opacity: 0;
        display: block;
    }
    3.5% {
        opacity: 1;
        display: block;
    }
    100% {
        opacity: 1;
        display: block;
        position: fixed;
    }
}

/* -------------------- Page Titles -------------------- */
.page-title {
    width: 100%;
    position: relative;
    max-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-title-content, .carousel-overlay-text {
    position: absolute;
    top: 70%;
    left: 7%;
    text-align: left;
    color: var(--logo-text);
    z-index: 2;
    text-shadow: 0 0 15px var(--shadow),
                 0 0 10px var(--shadow);
}

.page-title-content h1, .carousel-overlay-text h2 {
    font-size: clamp(2rem, 7vh, 5rem); /* responsive but capped */
    font-weight: bold;
    text-shadow: 0 0 10px var(--shadow),
                 0 0 20px var(--shadow),
                 0 0 40px var(--shadow);
}

.page-title-content p, .carousel-overlay-text p {
    font-size: clamp(1rem, 4vh, 2.5rem);
    text-shadow: 0 0 6px var(--shadow),
                 0 0 12px var(--shadow);
}

@media (max-width: 850px) {
    .page-title-content h2, .carousel-overlay-text h2 {
        font-size: clamp(1.5rem, 5vw, 3rem);
    }

    .page-title-content p, .carousel-overlay-text p {
        font-size: clamp(1rem, 3.2vw, 2rem);
    }
}
@media (max-width: 400px) {
    .page-title-content p, .carousel-overlay-text p {
        font-size: clamp(1rem, 1.5vw, rem);
    }
}