@import url(./colorscheme.css);

@font-face {
    font-family: 'Logo-Font';
    src: url(./PermanentMarker-Regular.ttf);
}

/* General */

* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

a {
	text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
    background: rgba(240,240,240, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
    gap: 2%;
}

header img {
    width: 7%;
    height: auto;
    min-width: 4rem;
}

.logo-name {
    font-family: 'Logo-Font';
    color: var(--logo-text);
    font-size: 2rem;
}

.navbar{
    display: flex;
}

.navbar a {
	color: var(--text-color);
	margin-right: 50px;
    font-weight: bold;
}

.navbar a:hover {
	color: var(--hover-text);
	cursor: pointer;
	transition: all 0.3s ease 0;
}

.navbar a:visited {
	color: none;
	text-decoration: none;
}