.page-title {
    background-image: linear-gradient(var(--photo-hue)), url(../Images/tasks.jpg);
    aspect-ratio: 6000 / 4000;
}

/* --------------------------------------------------------------------------------- */
/* ----------------------------- Task Management Section ----------------------------- */
.task-management-app {
    padding: 5% 10%;
    background-color: var(--bg-color-2);
}

/* ----------------------------- Heading ----------------------------- */
.heading {
    display: flex;
    flex-wrap: wrap;       /* allows wrapping on smaller screens */
    justify-content: space-between;
    align-items: center;   /* vertical centering in a row */
    gap: 1rem;
}

.content-categories {
    display: inline-flex;
    padding: 3%;
    border-radius: 10px;
    background-color: var(--bg-color);
}

.label-wrapper:not(:last-child) {
    margin-right: 5vw;
}

.status-option {
    display: none;
}

.category {
    font-weight: 500;
    transition: 0.2s ease;
}

#opt-1:checked + label,
#opt-2:checked + label,
#opt-3:checked + label,
#opt-4:checked + label {
    color: var(--subtext-color);
    border-bottom: 2px solid var(--text-color);
}

#participants {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#participants img {
    width: 7vh;
}

.container h2 {
    font-family: 'Logo-Font';
    color: var(--logo-text);
}

.task-btn {
    background-color: var(--bg-color);
    border-radius: 30px;
    padding: 2%;
    border: none;
    transition: transform 0.2s ease;
    flex-shrink: 0;
}

.task-btn:hover {
    transform: scale(1.05);
    background-color: var(--button-hover);
}

.task-progress p, .category, .task-btn{
    color: var(--text-color);
}

@media (max-width: 1000px) {
    .content-categories {
        width: 100%;
    }

    .label-wrapper {
        margin: auto;
    }

    #participants {
        margin-left: 10vw;
    }

    .task-btn {
        margin-right: 10vw;
    }
}

@media (max-width: 600px) {
    .container {
        text-align: center;
    }

    .content-categories, .content-categories .label-wrapper, #participants, .task-btn {
        margin: 10px auto;
    }

    .content-categories {
        display: inline-block;
        text-align: center;
        padding: 5% 10%;
        width: 100%;
    }

    .task-btn {
        padding: 4%;
    }
}


/*----------------*/
.row h3 {
    margin-top: 30px;
}

/*--------------------------------------------------------------*/
/*------------------------ Task cards ------------------------- */
.task-card {
    background-color: var(--bg-color);
    padding: 3%;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    margin: 4% 0;
}

.task-card, #cardButtons button {
    color: var(--text-color); !important
}

#cardButtons {
    align-items: flex-start;
    margin-right: 15px;
}

#cardButtons button {
    background-color: var(--bg-color-2);
    padding: 4%;
    height: auto;
    margin-right: 5px;
}

.complete-btn {
    color: var(--text-color);
}

.task-description {
    display: none;
    border-top: 1px solid var(--logo-text);
    margin-top: 10px;
}

.owner-icon img {
    width: 2.5rem;
    margin-top: 5px;
    margin-right: 0;
}

/* ------------------------------------------------------------ */
/*---- Progress Bars ----*/

.progress {
    margin-bottom: 20px;
}

/* --------------------------------------------------------------------------------- */
/*----  Pie chart placeholder ----*/
.piechart {
                width: 40vh;
                height: 40vh;
                border-radius: 50%;
                margin: 0 auto;
                background-image: conic-gradient(
                    pink 70deg,
                    lightblue 0 235deg,
                    orange 0
                );
            }